* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MOVIL */
nav, aside, #mensajes, #contenido, #footerPC, #iniMovil , #buscar, 
#mensajes, #chat, #perfil, #ajustes, .fa-solid.fa-heart, .fa-solid.fa-bookmark {
    display: none;
}

body {
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    height: 90vh;
    width: 100%;
    background: gray;
}

#formLogIn {
    height: 30vh;
    width: 78vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    border: solid black 1px;
    border-radius: 5%;
    padding: 1vh;
    background: white;
}

#formLogIn > legend {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid black 1px;
}

#formLogIn > input {
    width: 80%;
}

#formLogIn > button {
    background-color: black;
    border-radius: 15%;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1vh;
}

#formLogIn > button:hover {
    background-color: rgba(77, 77, 77, 0.527);
    color: black;
}

header {
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > img {
    width: 10vh;
}

main {
    height: 85vh;
}

main > #contenido {
    flex-direction: column;
    gap: 2vh;
}

#usersMovil {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    background-color: lightslategray;
}

.userMovil {
    height: 5vh;
    border-radius: 50%;
    margin-left: 2vw;
}

.publicacion {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.publicacionUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.publicacionUser > img {
    height: 5vh;
    border-radius: 50%;
}

.publicacionDesc > p {
    height: 13vh;
    padding: 0.5vh;
    overflow: scroll;
    background: gray;
}

.publicacionContent {
    height: 52vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.publicacionContent > img {
    height: 50vh;
    width: 90vw;
}

#comentariosMovil {
    display: none;
    position: absolute;
    top: 24vh;
    width: 95vw;
    background-color: brown;
    height: 66vh;
}

.publiInterMovil {
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1vh;
}

.publiInterMovil  > i {
    font-size: 1.5rem;
}

#buscar, #mensajes {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 84vh;
}

#bandejaEntrada, #listaUsers {
    border: solid black 1px;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
    overflow: scroll;
}

#bandejaEntrada > p, #listaUsers > p {
    border-bottom: solid black 1px;
    height: 4vh;
    vertical-align: middle;
}

#chat {
    height: 84vh;
    flex-direction: column;
    justify-content: space-around;
}

#topChat {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
}

#contenedorMensajes {
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: solid black 1px;
    padding: 0vh 1vh 1vh 1vh;
}

.mensajeUser, .mensajeAmigo  {
    border-radius: 10%;
    margin: 1vh 0 0 0;
    padding: 1vh;
}

.mensajeUser {
    align-self: flex-end;
    background-color: aqua;
}

.mensajeAmigo {
    align-self: flex-start;
    background-color: aqua;
}

#perfil {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
}

#topPerfil {
    display: flex;
}

#topPerfil > img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px, rgba(0, 0, 0, 0.6) -2px -2px 5px, rgba(0, 0, 0, 0.6) -2px 2px 5px, rgba(0, 0, 0, 0.6) 2px -2px 5px;
}

#datosPerfil {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#datosPerfil > h1 {
    width: 100%;
    text-align: center;
}

#contAmigos, #contPublicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio {
    height: 17vh;
    padding: 1vh;
    overflow: scroll;
}

#publicaciones {
    height: 53.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 1vh;
    border: solid black 1px;
    overflow: scroll;
}

.publicacionPerfil {
    width: 27vw;
    height: 11vh;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px, rgba(0, 0, 0, 0.6) -2px -2px 5px, rgba(0, 0, 0, 0.6) -2px 2px 5px, rgba(0, 0, 0, 0.6) 2px -2px 5px;
}

.publicacionPerfil.relleno {
    box-shadow: none;
}

.publicacionPerfil > img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

#ajustes {
    height: 84vh;
    flex-direction: column;
    justify-content: space-around;
}

#topAjustes {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
}

#topPerfil > h1, #buscar > h1, #mensajes > h1, #topChat > i, 
#topChat > h1, #topAjustes > i, #topAjustes > h1 {
    font-size: 1.8rem;
}

#contenedorAjustes {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: black solid 1px;
}

#contenedorAjustes > p {
    width: 100%;
    text-align: center;
    padding: 6vh;
    border-bottom: black solid 1px;
}

#contenedorAjustes > p:last-child {
    border: none;
}

#cambiarNombre, #borrarPublicaciones, #borrarAmigos, #borrarCuenta, #logOutMovil {
    width: 50vh;
    height: 50vh;
    display: none;
    background-color: aqua;
}

/* FOOTER */
#footerMovil {
    height: 6vh;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.521);
}

#footerMovil > i {
    font-size: 1.5rem;
    padding: 1vh;
    border-top: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 50%;
}

/* TABLET */
@media only screen and (max-width: 576px) {
    
}

/* PC */
@media only screen and (max-width: 678px) {
    
}

@media only screen and (min-width: 992px) {
    body {
        width: 1024px;
    }
}

/*img {
    width: 10%;
}

body {
    display: grid;
    grid-template-areas: 
    'header nav nav aside'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main';
}

header {
    grid-area: header;
    height: 10vh;
    width: 25vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

header > img {
    width: 10vw;
}

nav {
    grid-area: nav;
    height: 5vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
    height: 5vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    height: 90vh;
}

main > article {
    width: 25vw;
}*/

/*.fa-house  {
    color: white;
}

.fa-user {
    color: white;
    padding: 5px;
    border-radius: 50%;
} */