* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MOVIL */
#search, aside, main > #mensajes, main > #contenido, #footerPC, #buscMovil, 
#msgMovil, #chatMovil, #perfilMovil, #ajustesMovil, .fa-solid.fa-heart, .fa-solid.fa-bookmark {
    display: none;
}

body {
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > img {
    width: 10vh;
}

main {
    height: 85vh;
}

main > #iniMovil {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

main > #iniMovil > #usersMovil {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    background-color: lightslategray;
}

main > #iniMovil > #usersMovil > .userMovil {
    height: 5vh;
    border-radius: 50%;
    margin-left: 2vw;
}

main > #iniMovil > .publiMovil {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

main > #iniMovil > .publiMovil > .publiMovilUser {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

main > #iniMovil > .publiMovil > .publiMovilUser > img {
    height: 5vh;
    border-radius: 50%;
}

main > #iniMovil > .publiMovil > .publiMovilDesc > p {
    height: 13vh;
    padding: 0.5vh;
    overflow: scroll;
    background: gray;
}

main > #iniMovil > .publiMovil > .publiMovilContent {
    height: 52vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

main > #iniMovil > .publiMovil > .publiMovilContent > img {
    height: 50vh;
    width: 90vw;
}
main > #iniMovil > .publiMovil > #comentariosMovil {
    display: none;
    position: absolute;
    top: 24vh;
    width: 95vw;
    background-color: brown;
    height: 66vh;
}

main > #iniMovil > .publiMovil > .publiInterMovil {
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1vh;
}

main > #iniMovil > .publiMovil > .publiInterMovil  > i {
    font-size: 1.5rem;
}

main > #buscMovil, main > #msgMovil {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 84vh;
}

main > #msgMovil > #chatsMovil, main > #buscMovil > #buscUsersMovil {
    border: solid black 1px;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
    overflow: scroll;
}

main > #msgMovil > #chatsMovil > p, main > #buscMovil > #buscUsersMovil > p {
    border-bottom: solid black 1px;
    height: 4vh;
    vertical-align: middle;
}

main > #chatMovil {
    height: 84vh;
    flex-direction: column;
    justify-content: space-around;
}

main > #chatMovil > #topChatMovil {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
}

main > #chatMovil > #topChatMovil > i {
    font-size: 1.8rem;
}

main > #chatMovil > #contenedorMensajesMovil {
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: solid black 1px;
    padding: 0vh 1vh 1vh 1vh;
}

main > #chatMovil > #contenedorMensajesMovil > .mensajeUserMovil, main > #chatMovil > #contenedorMensajesMovil > .mensajeAmigoMovil  {
    border-radius: 10%;
    margin: 1vh 0 0 0;
    padding: 1vh;
}

main > #chatMovil > #contenedorMensajesMovil > .mensajeUserMovil {
    align-self: flex-end;
    background-color: aqua;
}

main > #chatMovil > #contenedorMensajesMovil > .mensajeAmigoMovil {
    align-self: flex-start;
    background-color: aqua;
}

main > #perfilMovil {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
}

main > #perfilMovil > #topPerfilMovil {
    display: flex;
}

main > #perfilMovil > #topPerfilMovil > img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px, rgba(0, 0, 0, 0.6) -2px -2px 5px, rgba(0, 0, 0, 0.6) -2px 2px 5px, rgba(0, 0, 0, 0.6) 2px -2px 5px;
}

main > #perfilMovil > #topPerfilMovil > #datosPerfilMovil {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main > #perfilMovil > #topPerfilMovil > #datosPerfilMovil > h1 {
    width: 100%;
    text-align: center;
}

main > #perfilMovil > #topPerfilMovil > #datosPerfilMovil > #contAmigosMovil, main > #perfilMovil > #topPerfilMovil > #datosPerfilMovil > #contPubliMovil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > #perfilMovil > #bioMovil {
    height: 17vh;
    padding: 1vh;
    overflow: scroll;
}

main > #perfilMovil > #publicacionesMovil {
    height: 53.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 1vh;
    border: solid black 1px;
    overflow: scroll;
}

main > #perfilMovil > #publicacionesMovil > .publiPerfilMovil {
    width: 27vw;
    height: 11vh;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px, rgba(0, 0, 0, 0.6) -2px -2px 5px, rgba(0, 0, 0, 0.6) -2px 2px 5px, rgba(0, 0, 0, 0.6) 2px -2px 5px;
}

main > #perfilMovil > #publicacionesMovil > .publiPerfilMovil.relleno {
    box-shadow: none;
}

main > #perfilMovil > #publicacionesMovil > .publiPerfilMovil > img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/* FOOTER */
footer > #footerMovil {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.521);
}

footer > #footerMovil > i {
    font-size: 1.5rem;
    padding: 1vh;
    border-top: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 50%;
}

/* TABLET */
@media only screen and (max-width: 576px) {
    
}

/* PC */
@media only screen and (max-width: 678px) {
    
}

@media only screen and (min-width: 992px) {
    body {
        width: 1024px;
    }
}

/*img {
    width: 10%;
}

body {
    display: grid;
    grid-template-areas: 
    'header nav nav aside'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main'
    'main main main main';
}

header {
    grid-area: header;
    height: 10vh;
    width: 25vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

header > img {
    width: 10vw;
}

nav {
    grid-area: nav;
    height: 5vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
    height: 5vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
    height: 90vh;
}

main > article {
    width: 25vw;
}*/

/*.fa-house  {
    color: white;
}

.fa-user {
    color: white;
    padding: 5px;
    border-radius: 50%;
} */